/*seletor global = seleciona todos os elemetos da pagina ou de determidado lugar*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*seletor pela tag*/
p{
    color: brown;
}
main{
    margin-top: 1rem;
}
/*seletor pela class*/
.paragrafo{
    border: 5px solid green;
    color: rgb(3, 165, 73);
    margin-top: 1rem;
}
/*seletor pelo id*/
#titulo{
    color: rgb(148, 44, 44);
    margin-bottom: 1rem;
}
/*seletor por atributo*/
input[type="password"]{
    font-size: 3rem;
}
/*seletor por decedente*/
.login-form input{
    font-size: 2rem;
    color: aqua;
}
/*seletor de filhos direto*/
.login-form > input{
    color: rgb(255, 27, 175);
    width: 5rem;
}
/*pseudo-classes*/
.cadastro-form div:nth-of-type(2){
    background: crimson;
}